
#content {
    padding: 4em 0 0 0;
    transition: padding 0.3s;
}

.container {
    padding: 1em 0em;
    background: #f0f0f0;
    overflow: hidden;
    min-height: calc(100vh - 4em);
}

#topbar {
    position: fixed;
    background: #000000;
    font-family: "Raleway";
    height: 4em;
    width: 100vw;
    user-select: none;
}

#menu_burger {
    padding: 0 1em;
    cursor: pointer;
    color: #ffffff;
    font-size: 2em;
    line-height: 2em;
    float: left;
    height: 100%;
}

#img_container {
    padding-top: 0.6em;
    float: left;
}

#img_container img {
    height: 2em;
}

#social_container {
    margin: 0.5em 1em;
    float: right;
    background: #ffffff;
}

#social_container a {
    display: inline-block;
}

#social_container img {
    height: 3em;
    vertical-align:bottom; 
}

#sidebar {
    position: fixed;
    top: 4em;
    left: -10em;
    transition: left 0.3s;
    background-color: #222;
    width: 10em;
    height: 100vh;
    min-height: 500px;
}

#sidebar > ul {
    margin: 0;
    padding: 0;
    padding-top: 0.5em;
    list-style-type: none;
}

#sidebar ul li {
    padding: 0 1em;
    line-height: 3em;
}

#sidebar ul li a {
    padding: 0 0.5em;
    display: inline-block;
    color: #ffffff;
    font-weight: 600;
    line-height: 2.5em;
    text-decoration: none;
    transition: background 0.3s;
    width: 100%;
}

#sidebar ul li a:hover {
    background: #000000;
    transition: background 0.3s;
}

.panel ul {
    padding: 0;
}