
#content {
    padding: 4em 0 0 0;
    transition: padding 0.3s;
    background: #505050;
}

.container {
    margin: 0 auto;
    background: #f0f0f0;
    overflow: hidden;
    min-height: calc(100vh - 4em);
    width: calc(100vw - 20em);
}

#topbar {
    position: fixed;
    z-index: 1;
    background: #000000;
    font-family: "Raleway";
    height: 4em;
    width: 100vw;
    user-select: none;
}

#menu_burger {
    margin: 0.4em 0.9em;
    padding: 0.1em;
    cursor: pointer;
    color: #ffffff;
    font-size: 2em;
    line-height: 1em;
    float: left;
}

#img_container {
    padding-top: 0.6em;
    float: left;
}

#img_container img {
    height: 2em;
}

#social_container {
    margin: 0.5em 1em;
    float: right;
    background: #ffffff;
}

#social_container a {
    display: inline-block;
}

#social_container img {
    height: 3em;
    vertical-align:bottom; 
}

#sidebar {
    padding-top: 0.75em;
    position: fixed;
    top: 4em;
    left: -10em;
    transition: left 0.3s;
    background-color: #222;
    width: 10em;
    height: 100vh;
    min-height: 500px;
}

#sidebar a {
    padding: 0.75em 1em;
    display: block;
    color: #ffffff;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    transition: background 0.3s;
}

#sidebar a:hover {
    background: #000000;
    transition: background 0.3s;
}

.accordion {
    user-select: none;
}

.active {
    background: #000000;
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s;
}

.panel a {
    background: #141414;
}