{% extends "base/base.html" %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/contact.css' %}">
{% endblock %}

{% block title %}SpaceX Contact{% endblock %}

{% block content %}
    <div class="contact_container">
        <div class="content">
            <h1>About</h1>
            <p>This project makes use of the SpaceX community API</p>
            <p>This project was created and is maintainded by Joe Dineen</p>
        </div>
        <div class="content">
            <h1>Contact</h1>
            <form class="contact_form" id="contact_form" name="contact_form" action="/#contact_section" method="post">
                {% csrf_token %}
                <input class="contact_input" placeholder="Name" type="text" name="name" id="" required="">
                <input class="contact_input" placeholder="Enter email" type="email" name="email" id="" required="">
                <textarea placeholder="Your Message" name="message" id="" cols="30" rows="10"></textarea>
                <input class="contact_submit" type="submit" value="SUBMIT">
            </form>
        </div>
    </div>
{% endblock %}