.git
.idea
.vscode

node_modules
intermediate-caching-api

.env.example
.gitignore
.gitmodules

docker-compose.yml
Dockerfile
mix-manifest.json
package-lock.json
package.json
README.md
webpack.mix.js

*.pyc