<ul class="accordion" data-accordion>
    <h4>Crew Summary</h4>
    {% for crew in launch.crew.all %}
        <li class="accordion-item{% if forloop.first %} is-active{% endif %}" data-accordion-item>
            <a class="accordion-title">
                <div class="grid-x">
                    <div class="cell small-6 align-self-middle">{{ crew.name }}</div>
                    <div class="cell small-6"><span class="label float-right">{{ crew.agency }}</span></div>
                </div>
            </a>
            <div class="accordion-content" data-tab-content>
                <img src={{ crew.images.first.image.url }}>
            </div>
        </li>
    {% endfor %}
</ul>