<div class="callout">
    <h4>Flight Summary</h4>
    <hr>
    <div class="grid-y">
        <div class="cell">
            <div class="grid-x grid-margin-x">
                <div class="cell small">
                    <div class="grid-x grid-margin-y">
                        <div class="cell auto">
                            <div class="grid-x">
                                {% if launch.upcoming == False %}
                                    <div class="cell small-3"><p>Flight Number</p></div>
                                    <div class="cell small-9"><p>{{ launch.flight_number }}</p></div>
                                {% endif %}
                                <div class="cell small-3"><p>Date</p></div>
                                <div class="cell small-9"><p>{{ launch.date_local|date:"D, d M Y" }}</p></div>
                                <div class="cell small-3"><p>Time</p></div>
                                <div class="cell small-9"><p>{{ launch.date_local|date:"h:i:s A" }}</p></div>
                                <div class="cell small-3"><p>Launchpad</p></div>
                                <div class="cell small-9"><p><a href={% url 'spacex:launchpad.detail' launch.launchpad.sanitized_name %}>{{ launch.launchpad.full_name }}</a></p></div>
                            </div>
                        </div>
                        <div class="cell shrink">
                            {% if patch_images %}
                                <img class="float-right display-inline" src="{{ patch_images }}" style="width: 150px;" >
                            {% endif %}
                        </div>
                        {% if launch.details %}
                            <div class="cell small"><p>{{ launch.details }}</p></div>
                        {% endif %}
                    </div>
                </div>
                {% comment %} <div class="cell small-6 text-right">
                    
                </div> {% endcomment %}
                <div class="cell large-6">
                    {% include 'launches/launchpad.html' %}
                </div>
                <div class="cell large-6">
                    {% include 'launches/rocket.html' %}
                </div>
            </div>
        </div>
        {% if launch.crew.count > 0 %}
        <div class="cell">
            <ul class="accordion" data-accordion>
                {% for crew in launch.crew.all %}
                    <li class="accordion-item{% if forloop.first %} is-active{% endif %}" data-accordion-item>
                        <a class="accordion-title">
                            <div class="grid-x">
                                <div class="cell small-6 align-self-middle">{{ crew.name }}</div>
                                <div class="cell small-6"><span class="label float-right">{{ crew.agency }}</span></div>
                            </div>
                        </a>
                        <div class="accordion-content" data-tab-content>
                            <img src={{ crew.images.first.image.url }}>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>    
</div>