<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base/general.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'base/base.css' %}">
    {% block stylesheet %}{% endblock  %}
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
    <script type="text/javascript" src="{% static 'base/js/sidebar.js' %}"></script>
    <title>{% block title %}Homepage{% endblock %}</title>
</head>

<body>
    <div id="topbar">
        <div id="menu_burger" onclick="slideMenu(this)">&#9776;</div>
        <div id="img_container">
            <img src="{% static "base/images/spacex_logo_white.png" %}" alt="SpaceX Logo">
        </div>
        <div id="social_container">
            <a href="https://twitter.com/spacex/">
                <img src="{% static "base/images/twitter_logo_blue.png" %}" alt="SpaceX Twitter">
            </a>
        </div>
    </div>
    <div id="sidebar">
        <a href="{% url 'home:index' %}">Home</a>
        <a class="accordion">Launches</a>
        <div class="panel">
            <a href="{% url 'launches:index' %}">All</a>
            <a href="{% url 'launches:next' %}">Next</a>
            <a href="{% url 'launches:past' %}">Past</a>
            <a href="{% url 'launches:upcoming' %}">Upcoming</a>
        </div>
        <a class="accordion">Launch Pads</a>
        <div class="panel">
            <a href="{% url 'launchpads:detail' 'vafb_slc_4e' %}">VAFB SLC 4E</a>
            <a href="{% url 'launchpads:detail' 'ccafs_slc_40' %}">CCAFS SLC 40</a>
            <a href="{% url 'launchpads:detail' 'stls' %}">STLS</a>
            <a href="{% url 'launchpads:detail' 'kwajalein_atoll' %}">Kwajalein Atoll</a>
            <a href="{% url 'launchpads:detail' 'vafb_slc_3w' %}">KSC LC 39A</a>
        </div>
        <a class="accordion">Landing Pads</a>
        <div class="panel">
            {% comment %} <a href="{% url 'landpads:detail' 'LZ-1' %}">Landing Zone 1</a>
            <a href="{% url 'landpads:detail' 'LZ-2' %}">Landing Zone 2</a>
            <a href="{% url 'landpads:detail' 'LZ-4' %}">Landing Zone 4</a>
            <a href="{% url 'landpads:detail' 'JRTI' %}">Just Read The Instructions</a>
            <a href="{% url 'landpads:detail' 'JRTI-1' %}">Just Read The Instructions V1</a>
            <a href="{% url 'landpads:detail' 'OCISLY' %}">Of Course I Still Love You</a>
            <a href="{% url 'landpads:detail' 'ASOG' %}">A Shortfall of Gravitas</a> {% endcomment %}
        </div>
        <a class="accordion">Rockets</a>
        <div class="panel">
            <a href="{% url 'rockets:detail' 'falcon1' %}">Falcon 1</a>
            <a href="{% url 'rockets:detail' 'falcon9' %}">Falcon 9</a>
            <a href="{% url 'rockets:detail' 'falconheavy' %}">Falcon Heavy</a>
            <a href="{% url 'rockets:detail' 'starship' %}">Starship</a>
        </div>
        <a href="">Dragons</a>
        <div class="panel">
            <p>Lorem ipsum...</p>
        </div>
        <a href="">Ships</a>
        <div class="panel">
            <p>Lorem ipsum...</p>
        </div>
        <a href="">About</a>
        <a href="">Contact</a>
    </div>
    <div id="content">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>