
.rocket_container {
    float: left;
    width: 100%;
}

.main_content {
    margin-bottom: 0.5em;
    padding-right: 0.5em;
    float: left;
    width: 60%;
}

.side_content {
    margin-bottom: 0.5em;
    float: right;
    width: 40%;
}

.rocket_img {
    width: 100%;
}

.mission_patch {
    margin-bottom: 1em;
    width: 175px;
}

.buttons_container {
    margin-top: 1em;
}

.wikipedia_link {
    padding: 0.5em 1em;
    display: inline-block;
    background: #3e85f7;
    color: #ffffff;
    font-weight: 500;
    font-family: "Raleway";
    text-decoration: none;
}

.image_content {
    margin-bottom: 0.5em;
}

.article_link {
    margin-top: 1em;
    padding: 0.5em 1em;
    display: block;
    background: #ff0000;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    float: right;
}

.rocket_header {
    margin-top: 0;
}

.mid_content_container {
    display: inline-block;
}

.description_container {
    float: left;
    width: 30em;
}

.stats_table tr td {
    padding-bottom: 0.2em;
}

.payload_container {
    margin-left: 3em;
    float: left;
}

@media (max-width: 1400px) {
    .container {
        margin: 0;
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .main_content {
        padding: 0;
        width: 100%;
    }

    .side_content {
        width: 100%;
    }
}