{% extends "base/base.html" %}

{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'rockets/index.css' %}">
{% endblock %}

{% block content %}
    <div class="rockets_container">
        <h1>Rockets</h1>
        <table class="launches_table">
            <tr class="first_row">
                <td><h3>Flight<br>no.</h3></td>
                <td><h3>Mission<br>Name</h3></td>
                <td><h3>Vehicle</h3></td>
                <td><h3>Launch<br>Site</h3></td>
                <td><h3>Launch<br>Date</h3></td>
                <td><h3>Launch</h3></td>
            </tr>
            {% for launch in launches %}
                <tr>
                    <td><p style="text-align: center;">{{ launch.flight_number }}</p></td>
                    <td><a href="{% url 'launches:detail' launch.flight_number %}"><p>{{ launch.mission_name }}</p></a></td>
                    <td><p>{{ launch.rocket.rocket_name }}</p></td>
                    <td><a href="{% url 'launchpads:detail' launch.launch_site.site_id %}"><p>{{ launch.launch_site.site_name }}</p></a></td>
                    <td><p>{{ launch.launch_datetime|date:"D, d M Y" }}</p></td>
                    {% if launch.launch_success == True %}
                        <td><div class="bool_box" style="background: #0f9131;">Success</div></td>
                    {% elif launch.launch_success == False %}
                        <td><div class="bool_box" style="background: #ff0000;">Failure</div></td>
                    {% elif launch.upcoming %}
                        <td><div class="bool_box" style="background: #20b9e8;">Upcoming</div></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock  %}
