
.launchpad_details {
    padding: 1em;
    float: left;
}

.main_content {
    padding-right: 1em;
    float: left;
    width: 60%;
}

.launchpad_header {
    margin-top: 0;
}

.status_active {
    margin: 0;
    padding: 0.5em 1em;
    display: inline-block;
    background: #0f9131;
    color: #ffffff;
}

.status_under_construction {
    margin: 0;
    padding: 0.5em 1em;
    display: inline-block;
    background: #ffbf00;
    color: #ffffff;
}

.status_retired {
    margin: 0;
    padding: 0.5em 1em;
    display: inline-block;
    background: #ff0000;
    color: #ffffff;
}

.image_content,
.map_content,
.upcoming_content {
    margin-bottom: 1em;
    float: left;
    width: 40%;
}

.image_content img {
    width: 100%;
}