
/* latin-ext */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyCMIT5lu.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue","Helvetica";
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.center_align {
    text-align: center;
}

table tr td {
    padding-right: 1.5em;
}

.header_nomargin {
    margin-top: 0;
}

.bool_box {
    padding: 0.7em 1.1em;
    display: inline-block;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    font-family: "Raleway";
    width: 100%;
}

#vertical_slider {
    background: #000000;
    user-select: none;
}

.map {
    height: 400px;
    width: 100%;
}

#content {
    padding: 4em 0 0 0;
    transition: padding 0.3s;
    background: #505050;
}

.container {
    margin: 0 auto;
    padding: 0.5em;
    padding-bottom: 0;
    /* background: #D3D3D3; */
    overflow: hidden;
    min-height: calc(100vh - 4em);
    width: 80vw;
}

.content {
    padding: 1em;
    background: #ffffff;
    border-radius: 0.2em;
}

.content_nopadding {
    padding: 0.2em;
    background: #ffffff;
    border-radius: 0.2em;
}

#topbar {
    position: fixed;
    z-index: 100;
    background: #000000;
    font-family: "Raleway";
    height: 4em;
    width: 100vw;
    user-select: none;
}

#menu_burger {
    margin: 0.4em 0.9em;
    padding: 0.1em;
    cursor: pointer;
    color: #ffffff;
    font-size: 2em;
    line-height: 1em;
    float: left;
}

#img_container {
    padding-top: 0.6em;
    float: left;
}

#img_container img {
    height: 2em;
}

#social_container {
    margin: 0.5em 1em;
    float: right;
    background: #ffffff;
}

#social_container a {
    display: inline-block;
}

#social_container img {
    height: 3em;
    vertical-align:bottom; 
}

#sidebar {
    position: fixed;
    z-index: 100;
    top: 4em;
    transition: transform 0.5s;
    transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
    transform: translateX(-1000px);
    background-color: #222;
    width: 8vw;
    height: 100vh;
    min-width: 10em;
    min-height: 500px;
}

#sidebar a {
    padding: 0.75em 1em;
    display: block;
    color: #ffffff;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    transition: background 0.3s;
}

#sidebar a:hover {
    background: #000000;
    transition: background 0.3s;
}

.accordion {
    user-select: none;
}

.active {
    background: #000000;
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s;
}

.panel a {
    background: #141414;
}

@media (max-width: 1200px) {
    .container {
        width: 100%;
    }
}

@media (max-device-width: 800px) {
    #content {
        padding: 8em 0 0 0;
    }

    #topbar {
        height: 8em;
        background-color: #000000 !important;
    }

    #menu_burger {
        font-size: 4em;
    }

    #img_container {
        padding-top: 1.2em;    
    }

    #img_container img {
        height: 4em;
    }

    #sidebar {
        position: absolute;
        top: 8em;
        width: 100vw;
        height: unset;
        min-height: 100vh;
        background-color: #222 !important;
    }

    #sidebar a {
        font-size: 4em;
    }
}

@media only screen and (max-device-height: 600px) and (orientation: landscape) {
    #content {
        padding: 4em 0 0 0;
    }

    #topbar {
        height: 4em;
        background-color: #000000 !important;
    }

    #menu_burger {
        font-size: 2em;
    }

    #img_container {
        padding-top: 0.6em;    
    }

    #img_container img {
        height: 2em;
    }

    #sidebar {
        position: absolute;
        top: 4em;
        width: 100vw;
        height: unset;
        min-height: 100vh;
        background-color: #222 !important;
    }

    #sidebar a {
        font-size: 3em;
    }
}