{% extends "base.html" %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v6.0.1/css/ol.css">
    <link rel="stylesheet" type="text/css" href="{% static 'landpads/detail.css' %}">
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v6.0.1/build/ol.js"></script>
    <script type="text/javascript" src="{% static 'js/maps.js' %}"></script>
    {{ landpad.location|json_script:"location" }}
{% endblock %}

{% block title %}{{ landpad.full_name }}{% endblock %}

{% block content %}
    {% if not landpad.error %}
        <div class="landpad_container">
            <div class="main_content">
                <div class="content">
                    <h1 class="landpad_header">{{ landpad.full_name }} | {{ landpad.landing_type }}</h1>
                    {% if landpad.status == "active" %}
                        <h2 class="status_active">Active</h2>
                    {% elif landpad.status == "under construction" %}
                        <h2 class="status_under_construction">Under Construction</h2>
                    {% elif landpad.status == "retired" %}
                        <h2 class="status_retired">Retired</h2>
                    {% endif %}
                    <h2>Landingpad Details</h2>
                    <p>{{ landpad.details }}</p>
                    <h2>Location</h2>
                    <table>
                        <tr>
                            <td>Name:</td>
                            <td>{{ landpad.location.name }}</td>
                        </tr>
                        <tr>
                            <td>Region:</td>
                            <td>{{ landpad.location.region }}</td>
                        </tr>
                    </table>
                    {% if landpad.attempted_landings %}
                        <h2>Landing Attempts</h2>
                        <table>
                            <tr>
                                <td>Attempted Landings:</td>
                                <td>{{ landpad.attempted_landings }}</td>
                            </tr>
                            <tr>
                                <td>Successful Landings:</td>
                                <td>{{ landpad.successful_landings }}</td>
                            </tr>
                        </table>
                        <table>
                            <tr class="first_row">
                                <td><h3>Mission Name</h3></td>
                                <td><h3>Vehicle</h3></td>
                                <td><h3>Launch Date</h3></td>
                                <td><h3 class="center_align">Launch</h3></td>
                            </tr>
                            {% for launch in past_launches_at_landpad %}
                                <tr>
                                    <td><p><a href="{% url 'launches:detail' launch.flight_number %}">{{ launch.mission_name }}</a></p></td>
                                    <td><p><a href="{% url 'rockets:detail' launch.rocket.rocket_id %}">{{ launch.rocket.rocket_name }}</a></p></td>
                                    <td>{{ launch.launch_datetime|date }}</td>
                                    {% if launch.launch_success == True %}
                                        <td><div class="bool_box" style="background: #0f9131;">Success</div></td>
                                    {% elif launch.launch_success == False %}
                                        <td><div class="bool_box" style="background: #ff0000;">Failure</div></td>
                                    {% elif launch.upcoming %}
                                        <td><div class="bool_box" style="background: #20b9e8;">Upcoming</div></td>
                                    {% endif %}
                                </tr>      
                            {% endfor %}
                        </table>
                    {% endif %}
                </div>
            </div>
            <div class="side_content">
                <div class="map_content">
                    <div class="content_nopadding">
                        <div id="map" class="map"></div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h2>Error</h2>
        <p>{{ launch.error }}</p>
    {% endif %}
{% endblock  %}
