<!doctype html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <title>{% block title %}Default Title{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
        {% block stylesheet %}{% endblock  %}
        
        <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/sidebar.js' %}"></script>
        {% block javascript %}{% endblock  %}

        {% if debug %}
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152422335-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'UA-152422335-1');
            </script>
        {% endif %}
    </head>
    <body>
        <div id="topbar">
            <div id="menu_burger">&#9776;</div>
            <a href="{% url 'spacex:home.index' %}" id="img_container" style="display: block;">
                <img src={% static "assets/images/spacex_logo_white_wo.png" %} alt="SpaceX Logo">
            </a>
        </div>
        <div id="sidebar">
            <a href="{% url 'spacex:home.index' %}">Home</a>
            <a class="accordion">Launches</a>
            <div class="panel">
                <a href="{% url 'spacex:launch.index' %}">All</a>
                <a href="{% url 'spacex:launch.next' %}">Next</a>
                <a href="{% url 'spacex:launch.past' %}">Past</a>
                <a href="{% url 'spacex:launch.upcoming' %}">Upcoming</a>
            </div>
            <a class="accordion">Launch Pads</a>
            <div class="panel">
                {% for launchpad in sidebar.launchpads %}
                    <a href="{% url 'spacex:launchpad.detail' launchpad.sanitized_name %}">{{ launchpad.name }}</a>
                {% endfor %}
            </div>
            <a class="accordion">Landing Pads</a>
            <div class="panel">
                {% for landpad in sidebar.landpads %}
                    <a href="{% url 'spacex:landpad.detail' landpad.sanitized_name %}">{{ landpad.name }}</a>
                {% endfor %}
            </div>
            <a class="accordion">Vehicles</a>
            <div class="panel">
                {% for rocket in sidebar.rockets %}
                    <a href="{% url 'spacex:rocket.detail' rocket.sanitized_name %}">{{ rocket.name }}</a>
                {% endfor %}
            </div>
            {% comment %} <a class="accordion">Dragons</a>
            <div class="panel">
                {% for dragon in sidebar.dragons %}
                    <a href="{% url 'dragons:detail' dragon.id %}">{{ dragon.name }}</a>
                {% endfor %}
            </div> {% endcomment %}
            {% comment %} <a href="{% url 'home:about' %}">About</a> {% endcomment %}
        </div>
        <div id="content">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>