{% extends "base/base.html" %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'dragons/detail.css' %}">
{% endblock %}

{% block javascript %}
    {{ dragon.flickr_images|json_script:"images" }}
{% endblock %}

{% block title %}{{ dragon.name }}{% endblock %}

{% block content %}
    {% if not dragon.error %}
        <div class="dragon_details">
            <div class="main_content">
                <div class="content">
                    <h1 class="dragon_header">{{ dragon.name }}</h1>
                    {% if dragon.description %}
                        <div class="dragon_description">
                            <h2>Dragon Description</h2>
                            <p>{{ dragon.description }}</p>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="side_content">
                {% if dragon.flickr_images %}
                    <div class="image_content">
                        <div class="content_nopadding">
                            <div id="vertical_slider"></div> 
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% else %}
        <h2>Error</h2>
        <p>{{ dragon.error }}</p>
    {% endif %}
{% endblock %}