
{% extends "base/base.html" %}

{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'launches/index.css' %}">
{% endblock %}

{% block title %}Launches{% endblock %}

{% block content %}
    <div class="launches_container">
        <h1>All Launches</h1>
        <table>
            <tr>
                <td><h3>Mission Name</h3></td>
                <td><h3>Vehicle</h3></td>
                <td><h3>Launch Site</h3></td>
                <td><h3>Launch Date</h3></td>
            </tr>
        </table>
    </div>
{% endblock  %}
