{% extends "base.html" %}
{% load static %}

{% block title %}{{ launchpad.name }} Launchpad | SpaceXTrack.com{% endblock %}

{% block description %}SpaceXTrack.com: SpaceX {{ launchpad.full_name }}, {{ launchpad.details }}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v6.0.1/css/ol.css">
    <link rel="stylesheet" type="text/css" href="{% static 'launchpads/detail.css' %}">
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v6.0.1/build/ol.js"></script>
    <script type="text/javascript" src="{% static 'js/maps.js' %}"></script>
    {{ launchpad_imgs|json_script:"images" }}
    {{ launchpad.location|json_script:"location" }}
{% endblock %}

{% block content %}
    {% if not launchpad.error %}
        <div class="launchpad_details">
            <div class="main_content">
                <div class="content">
                    <h1 class="launchpad_header">{{ launchpad.full_name }}</h1>
                    {% if launchpad.status == "active" %}
                        <div class="launchpad_status" style="background: #0f9131;">Active Launchpad</div>
                    {% elif launchpad.status == "under construction" %}
                        <div class="launchpad_status" style="background: #ffbf00;">Launchpad Under Construction</div>
                    {% elif launchpad.status == "retired" %}
                        <div class="launchpad_status" style="background: #ff0000;">Retired Launchpad</div>
                    {% endif %}
                    <h2>Launchpad Details</h2>
                    <p>{{ launchpad.details }}</p>
                    <h2>Location</h2>
                    <table>
                        <tr>
                            <td>Region:</td>
                            <td>{{ launchpad.region }}</td>
                        </tr>
                        <tr>
                            <td>Locality:</td>
                            <td>{{ launchpad.locality }}</td>
                        </tr>
                    </table>
                    {% if launchpad_launches %}
                        {% comment %} <h2>Vehicles Launched</h2>
                        <ul>
                            {% for vehicle in launchpad.vehicles_launched %}
                                <li>{{ vehicle }}</li>
                            {% endfor %}
                        </ul> {% endcomment %}
                        <h2>Past Launches</h2>
                        <table>
                            <tr>
                                <td>Attempted Launches:</td>
                                <td>{{ launchpad.launch_attempts }}</td>
                            </tr>
                            <tr>
                                <td>Successful Launches:</td>
                                <td>{{ launchpad.launch_successes }}</td>
                            </tr>
                        </table>
                        <table>
                            <tr class="first_row">
                                <td><h3>Mission Name</h3></td>
                                <td><h3>Vehicle</h3></td>
                                <td><h3>Launch Date</h3></td>
                                <td><h3 class="center_align">Launch</h3></td>
                            </tr>
                            {% for launch in past_launches_at_site %}
                                {% if launch.launch_site.site_id == launchpad.site_id %}
                                    <tr>
                                        <td><p><a href="{% url 'launches:detail' launch.flight_number %}">{{ launch.mission_name }}</a></p></td>
                                        <td><p><a href="{% url 'rockets:detail' launch.rocket.rocket_id %}">{{ launch.rocket.rocket_name }}</a></p></td>
                                        <td>{{ launch.launch_datetime|date }}</td>
                                        {% if launch.launch_success == True %}
                                            <td><div class="bool_box" style="background: #0f9131;">Success</div></td>
                                        {% elif launch.launch_success == False %}
                                            <td><div class="bool_box" style="background: #ff0000;">Failure</div></td>
                                        {% elif launch.upcoming %}
                                            <td><div class="bool_box" style="background: #20b9e8;">Upcoming</div></td>
                                        {% endif %}
                                    </tr>
                                {% endif %}        
                            {% endfor %}
                        </table>
                    {% endif %}                
                </div>
            </div>
            <div class="side_content">
                {% if launchpad_imgs %}
                    <div class="image_content">
                        <div class="content_nopadding">
                             <div id="vertical_slider"></div> 
                        </div>
                    </div>
                {% endif %}
                <div class="map_content">
                    <div class="content_nopadding">
                        <div id="map" class="map"></div>
                    </div>
                </div>
                {% if upcoming_launches_at_site %}
                    <div class="upcoming_content">
                        <div class="content">
                            <h2 style="margin-top: 0;">Upcoming Launches</h2>
                            <table>
                                <tr class="first_row">
                                    <td><h3 style="text-align: left;">Mission Name</h3></td>
                                    <td><h3>Vehicle</h3></td>
                                    <td><h3>Launch Date</h3></td>
                                </tr>
                                {% for launch in upcoming_launches_at_site %}
                                    <tr>
                                        <td><p><a href="{% url 'launches:detail' launch.flight_number %}">{{ launch.mission_name }}</a></p></td>
                                        <td><p><a href="{% url 'rockets:detail' launch.rocket.rocket_id %}">{{ launch.rocket.rocket_name }}</a></p></td>
                                        <td>{{ launch.launch_datetime|date }}</td>
                                    </tr>   
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% else %}
        <h2>Error</h2>
        <p>{{ launchpad.error }}</p>
    {% endif %}
{% endblock %}