{% extends "base/base.html" %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'launchpads/index.css' %}">
{% endblock %}

{% block title %}SpaceX Launchpads{% endblock %}

{% block content %}
    <div class="launchpads_container">
        <h1>{% block header %}{% endblock  %}</h1>
        <table class="launchpads_table">
            <tr class="first_row">
                <td><h3>Site Name</h3></td>
                <td><h3>Status</h3></td>
            </tr>
            {% for launchpad in launchpads %}
                <tr>
                    <td><a href="{% url 'launchpads:detail' launchpad.site_id %}"><p>{{ launchpad.name }}</p></a></td>
                    {% if launchpad.status == "active" %}
                        <td><div class="bool_box" style="background: #0f9131;">Active</div></td>
                    {% elif launchpad.status == "under construction" %}
                        <td><div class="bool_box" style="background: #ff0000;">Under Construction</div></td>
                    {% elif launchpad.status == "retired" %}
                        <td><div class="bool_box" style="background: #20b9e8;">Retired</div></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock  %}