.launch_details {
    padding: 1em;
    background: #D3D3D3;
    float: left;
    width: 100%;
}

.content {
    padding: 1em;
    background: #ffffff;
    border-radius: 0.2em;
}

.main_content {
    padding-right: 1em;
    float: left;
    width: 65%;
}

.floated_content {
    float: right;
    text-align: right;
}

.map_content,
.image_content {
    padding-bottom: 1em;
    float: left;
    width: 35%;
}

.about_content {
    float: left;
    width: 35%;
}

.website_links,
.page_links {
    display: inline-flex;
    width: 50%;
}

.launch_header {
    margin-top: 0;
}

.wikipedia_container {
    margin-right: 3em;
    text-align: left;
    display: inline-block;
}

.mission_patch_container {
    display: inline-block;
}

.mission_patch {
    width: 175px;
    vertical-align: bottom;
}

.buttons_container ul {
    text-align: center;
    list-style-type: none;
}

.resource_link {
    margin-top: 1em;
    padding: 0.5em 1em;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    float: right;
}

.launch_outcome {
    padding: 0.7em 1.1em;
    display: inline-block;
    color: #ffffff;
    font-weight: 500;
}

.launch_details_container p {
    margin-right: 3em;
}

.stages_container {
    display: inline-block;
    width: 100%;
}

.first_stage_details {
    float: left;
    width: 50%;
}

.second_stage_details {
    float: left;
    width: 50%;
}