
.launch {
    padding-left: 3em;
}

.launch_details {
    padding-right: 3em;
    float: left;
    width: 70%;
}

.top_right {
    float: right;
}

.mission_patch {
    width: 175px;
    float: right;
}

.buttons_container {
    margin-top: 1.5em;
    float: right;
}

.successful_launch {
    padding: 0.7em 1.1em;
    display: inline-block;
    background: #0f9131;
    color: #ffffff;
    font-weight: 500;
}

.fail_launch {
    padding: 0.7em 1.1em;
    display: inline-block;
    background: #ff0000;
    color: #ffffff;
    font-weight: 500;
}

.upcoming_launch {
    padding: 0.7em 1.1em;
    display: inline-block;
    background: #20b9e8;
    color: #ffffff;
    font-weight: 500;
}

.press_kit {
    padding: 0.5em 1em;
    display: block;
    background: #0f9131;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
}

.youtube_link {
    margin-top: 1em;
    padding: 0.5em 1em;
    display: block;
    background: #ff0000;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    float: right;
}

.stages_container {
    display: inline-block;
    width: 100%;
}

.first_stage_details {
    float: left;
    width: 50%;
}

.second_stage_details {
    float: left;
    width: 50%;
}

.side_bar {
    float: left;
    width: 30%;
}

.launch_assets {
    max-height: 75vh;
    overflow: auto;
}

.launch_assets img {
    width: 100%;
}