
.launches_container {
    margin: 0 auto;
    padding: 0 0 0 3em;
    width: 55%;
}

.first_row td h3 {
    text-align: center;
}

.launches_table tr td {
    padding-right: 1.5em;
}

.successful_launch {
    padding: 0.7em 1.1em;
    display: inline-block;
    background: #0f9131;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    width: 100%;
}

.fail_launch {
    padding: 0.7em 1em;
    display: inline-block;
    background: #ff0000;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    width: 100%;
}

.upcoming_launch {
    padding: 0.7em 1.1em;
    display: inline-block;
    background: #20b9e8;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    width: 100%;
}