
.rocket_container {
    padding: 0 3em;
    float: left;
    width: 100%;
}

.rocket_img {
    width: 40%;
    float: right;
}

.rocket_badge_img {
    margin-right: 3em;
    width: 175px;
    float: right;
}

.stats {
    display: inline-block;
    width: 45%;
}

.stats h2 {
    margin-bottom: 0.1em;
}

.stat {
    float: left;
    width: 50%;
}

.description_container {
    float: left;
    width: 30em;
}

.payload_container {
    float: left;
}