
.rocket_container {
    padding: 1em;
    float: left;
    width: 100%;
}

.main_content {
    padding-right: 1em;
    float: left;
    width: 65%;
}

.side_content {
    float: right;
    width: 35%;
}

.rocket_img {
    width: 100%;
}

.floated_content {
    float: right;
}

.mission_patch {
    width: 175px;
    float: right;
}

.buttons_container {
    margin-top: 1.5em;
    float: right;
}

.wikipedia_link {
    padding: 0.5em 1em;
    display: block;
    background: #3e85f7;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
}

.article_link {
    margin-top: 1em;
    padding: 0.5em 1em;
    display: block;
    background: #ff0000;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    float: right;
}

.rocket_header {
    margin-top: 0;
}

.mid_content_container {
    display: inline-block;
}

.stats {
    display: inline-block;
    width: 100%;
}

.stats h2 {
    margin-bottom: 0.1em;
}

.stat {
    float: left;
    width: 50%;
}

.description_container {
    float: left;
    width: 30em;
}

.payload_container {
    margin-left: 3em;
    float: left;
}